<h1>Listing weather_records</h1>

<table>
  <thead>
    <tr>
      <th>Zip</th>
      <th>Temp</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weather_records.each do |weather_record| %>
      <tr>
        <td><%= weather_record.zip %></td>
        <td><%= weather_record.temp %></td>
        <td><%= weather_record.description %></td>
        <td><%= link_to 'Show', weather_record %></td>
        <td><%= link_to 'Edit', edit_weather_record_path(weather_record) %></td>
        <td><%= link_to 'Destroy', weather_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather record', new_weather_record_path %>
