<p id="notice"><%= notice %></p>

<p>
  <strong>Zip:</strong>
  <%= @weather_record.zip %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @weather_record.temp %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weather_record.description %>
</p>

<%= link_to 'Edit', edit_weather_record_path(@weather_record) %> |
<%= link_to 'Back', weather_records_path %>
